.botao-submit {
	border-radius: 25px;
	width: 50px;
	height: 50px;
	position: fixed; /* tive skill issue a tentar perceebr como se mete isto em sticky */
	bottom: 25px;
	right: 25px;
}

/* solucao manhosa, tive preguica de tar a meter um flex so para 2 botoes que tao sempre no mesmo sitio */
.botao-submit-2 {
	border-radius: 25px;
	width: 50px;
	height: 50px;
	position: fixed; /* tive skill issue a tentar perceebr como se mete isto em sticky */
	bottom: 85px;
	right: 25px;
}

/* adicionar traço horizontal no fim da linha vertical*/
.left-div .border-start.line-end::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 1px;
    background-color: rgba(117, 117, 117, 0.5);
}