extends layout

block content

    .container.d-flex.justify-content-end.flex-column.mt-3

        .row.m-0.p-0
            .col-8.pr-3(style="padding-left: 0px")
                h1.m-0.font-weight-bold.alert.alert-secondary(style="text-align: center;")= title
            .col-4.p-0
                a.btn.btn-secondary.btn-lg.btn-block.p-2.w-100.h-100(href="/" style="font-size: 32px; align-content: center;") Voltar

        //Searchbar
        include searchbar.pug
        +searchBarFilterComplexLi("filtered-list","filter-list-elem")

        //lista de elementos
        ul#filtered-list.list-group.mb-3(style="font-size: 20px;")
            each element, index in listElements
                .filter-list-elem
                    li.list-group-item.list-group-item-action.list-group-item-secondary.text-center.rounded.mt-3(data-bs-toggle='collapse', href='#collapse' + index, role='button')
                        | #{element.name}

                    .collapse(id='collapse' + index)
                        .card.card-body.mt-3
                            .row
                                for rua, index_1 in element.ruas
                                    if index_1 > 0 && index_1 % 3 == 0 
                                        .w-100
                                    .col.text-left
                                        a.text-dark(href="/ruas/" + rua['_id'], style="text-decoration: none;")= rua.name

