extends layout

block content

    .container.d-flex.justify-content-end.flex-column.mt-3

        h1.m-0.font-weight-bold.alert.alert-dark(style="text-align: center;")= title

        ul.list-group.mb-3(style="font-size: 20px;")
            each element, index in listElements
                li.list-group-item.list-group-item-action.list-group-item-secondary.text-center.mt-3(data-bs-toggle='collapse', href='#collapse' + index, role='button')
                    | #{element.name}

                .collapse(id='collapse' + index)
                    .card.card-body.mt-3
                        .row
                            for rua, index_1 in element.ruas
                                if index_1 > 0 && index_1 % 3 == 0 
                                    .w-100
                                .col.text-left
                                    a.text-dark(href="/ruas/" + rua['_id'], style="text-decoration: none;")= rua.name

            a(href="/" style="text-decoration: none;")
                li.list-group-item.list-group-item-action.list-group-item-dark.text-center.mt-3 Voltar