// searchbar para filtrar em páginas de listas   
mixin searchBarFilter(ulHtmlElem) 
  w-100.d-flex.flex-row.mt-2
    input#search-terms.w-100(type='text', placeholder='Filtrar..')
    button#clear-search.btn-outline-secondary.ms-2(type="button")
      i.bi.bi-x-lg

  script.
    $('#search-terms').on('input', function () {
      var filter = $(this).val().toUpperCase();
      var ulElem = !{JSON.stringify(ulHtmlElem)}
      $(`#${ulElem} li`).each(function() {
          var txtValue = $(this).text().toUpperCase();
          if (txtValue.indexOf(filter) > -1) { // procurar filter como substring nos nomes
            $(this).show();
          }
          else {
            $(this).hide()
          }
      })
    })

    //on click x button
    $('#clear-search').on('click', function () {
      //clear search terms
      $('#search-terms').val('')
      $('#search-terms').trigger('input');
    })
