extends layout

block content

    .container.d-flex.justify-content-end.flex-column.mt-3

        form(method="post", enctype='multipart/form-data')

            .card.mb-3.border-dark
                h5.card-header.fw-bold Informações
                .card-body
                    input.form-control(type='text', name='name', placeholder='Nome', required)
                    textarea.form-control.mt-3(rows="3", name="description", placeholder="Descrição", required)

                    .card.mb-0.mt-3.w-100.border-dark
                        .card-header.d-flex.justify-content-between
                            h5.fw-bold.align-items-center.mb-0 Datas Referidas
                            img#addDate(src="/icons/plus-circle-fill.svg", type="button")
                        .card-body.pb-0.overflow-scroll#datesContainer(style="max-height: 165px;")
                            .row.g-3.mb-3#date1
                                .col
                                    input.form-control(type='text', name='dates', placeholder='Data', required)
                                .col
                                    button.btn.btn-danger.w-100.deleteDate(data-field-id="date1") Eliminar

                    .card.mb-0.mt-3.w-100.border-dark
                        .card-header.d-flex.justify-content-between
                            h5.fw-bold.align-items-center.mb-0 Lugares Referidos
                            img#addPlace(src="/icons/plus-circle-fill.svg", type="button")
                        .card-body.pb-0.overflow-scroll#placesContainer(style="max-height: 165px;")
                            .row.g-3.mb-3#place1
                                .col
                                    input.form-control(type='text', name='places', placeholder='Lugar', required)
                                .col
                                    button.btn.btn-danger.w-100.deletePlace(data-field-id="place1") Eliminar

                    .card.mb-0.mt-3.w-100.border-dark
                        .card-header.d-flex.justify-content-between
                            h5.fw-bold.align-items-center.mb-0 Entidades Referidas
                            img#addEntity(src="/icons/plus-circle-fill.svg", type="button")
                        .card-body.pb-0.overflow-scroll#entitiesContainer(style="max-height: 165px;")
                            .row.g-3.mb-3#entity1
                                .col
                                    input.form-control(type='text', name='entities', placeholder='Entidade', required)
                                .col
                                    button.btn.btn-danger.w-100.deleteEntity(data-field-id="entity1") Eliminar

            .card.mt-3.mb-3.border-dark
                .card-header.d-flex.justify-content-between
                    h5.fw-bold.align-items-center.mb-0 Casas
                    img#addHouse(src="/icons/plus-circle-fill.svg", type="button")
                .card-body.pb-0#housesContainer
                    .card.mb-3.w-100.p-3.border-dark#house1
                        .row.g-3
                            .col
                                input.form-control(type='text', name='enfiteuta', placeholder='Enfiteuta', required)
                            .col
                                input.form-control(type='text', name='subst', placeholder='Pagamento', required)
                            .col
                                input.form-control(type='text', name='vista', placeholder='Vista')
                            .col
                                button.btn.btn-danger.w-100.deleteHouse(data-field-id="house1") Eliminar
                        textarea.form-control.mt-3(rows="3", name="desc", placeholder="Descrição", required)

            .card.mt-3.mb-3.border-dark
                .card-header.d-flex.justify-content-between
                    h5.fw-bold.align-items-center.mb-0 Imagens Antigas
                    img#addOldImage(src="/icons/plus-circle-fill.svg", type="button")
                .card-body.pb-0#oldImagesContainer
                    .row.g-3.mb-3#oldImage1
                        .col
                            input.form-control(type='text', name='oldImageSubst', placeholder='Referência', required)
                        .col
                            input.form-control(type="file", name="oldImageFiles", required)
                        .col
                            button.btn.btn-danger.w-100.deleteOldImage(data-field-id="oldImage1") Eliminar

            .card.mt-3.mb-3.border-dark
                .card-header.d-flex.justify-content-between
                    h5.fw-bold.align-items-center.mb-0 Imagens Atuais
                    img#addNewImage(src="/icons/plus-circle-fill.svg", type="button")
                .card-body.pb-0#newImagesContainer
                    .row.g-3.mb-3#newImage1
                        .col
                            input.form-control(type='text', name='newImageSubst', placeholder='Referência', required)
                        .col
                            input.form-control(type="file", name="newImageFiles", required)
                        .col
                            button.btn.btn-danger.w-100.deleteNewImage(data-field-id="newImage1") Eliminar

            .row.g-3.mb-3
                .col
                    a.btn.btn-secondary.btn-lg.btn-block.w-100(href="/ruas") Voltar
                .col
                    button.btn.btn-success.btn-lg.btn-block.w-100(type='submit') Registar

    script(src="/js/fields.js", type="module")